html, body {
    background-color: #efefef;  
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a:link {
    text-decoration: none;
}

h1 {
    padding-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Roboto Mono', monospace;
}

.flex-container {
    display: flex;
    font-size: 1.3em;
}

.flex-container p {
    margin: 5px;
}

.wave {
    display: inline-block;
    animation: wave-animation 3s ease-in-out infinite;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(-4deg); }
    70% { transform: rotate(10deg); }
    80% { transform: rotate(-8deg); }
    90% { transform: rotate(14deg); }
    100% { transform: rotate(0deg); }
}