html, body {
    background-color: #efefef;  
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a:link {
    text-decoration: none;
}

h1 {
    padding-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Roboto Mono', monospace;
}

.flex-container {
    display: flex;
}

.flex-container p {
    margin: 5px;
}